.home-container {
  /* background-color: antiquewhite; */
  display: flex;
  width: 100%;
  height: 100%;
}

.content-container {
  /* background-color: aquamarine; */
  flex: 1 1 50%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.image-container {
  flex: 1 1 50%;
  background-image: url("../../assets/image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-header {
  flex: 1 1 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-header p {
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.5rem;
}

.content-header .link {
  text-decoration: none;
  color: var(--color-red);
}

.logo {
  color: var(--color-red);
  font-weight: 500;
  font-size: 3rem;
}

.outlet-container {
  /* background-color: aqua; */
  flex: 1 1 80%;
  width: 70%;
  align-self: center;
}

@media only screen and (max-width: 998px) {
  .image-container {
    display: none;
  }
  .home-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .content-container {
    padding: 2rem;
  }
  .content-header p {
    padding-top: 0.8rem;
  }
}
