@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --color-button: rgba(112, 142, 176, 0.4);
  --color-label: rgba(39, 49, 120, 0.7);
  --color-border: rgba(132, 152, 226, 0.4);
  --color-header: rgba(39, 49, 120);
  --color-red: #d74590;
  --color-text: #849886;
  --color-input-focus: #6650ef;
  --color-error: #ff4d42;
  --color-button-hover: #b4418b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Form styles */
.form-container {
  /* background-color: beige; */
  width: 100%;
  height: 100%;
}

.form-heading {
  color: var(--color-header);
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.form-item {
  /* background-color: azure; */
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-item label {
  color: var(--color-label);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.form-item input {
  padding: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}

.form-item input::placeholder {
  color: var(--color-label);
  opacity: 0.5;
}

.form-item input:focus {
  outline: none !important;
  border: 1px solid var(--color-input-focus);
}

.form-item.error input {
  border: 1px solid var(--color-error);
}

.form-button {
  background-color: var(--color-red);
  margin-top: 3rem;
  border: none;
  letter-spacing: 0.1rem;
  padding: 2rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 1s ease;
}

.form-button:not(:disabled):hover {
  background-color: var(--color-button-hover);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.form-button:disabled {
  background-color: var(--color-button);
  color: var(--color-button);
  cursor: default;
}

.error-text {
  color: var(--color-error);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 400px) {
  .form-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .form-button {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 4rem;
  }
}
